
ChatWebAPI/.vs/ChatWebAPI/DesignTimeBuild/.dtbcache.v2
ChatWebAPI/.vs/ChatWebAPI/v16/.suo
ChatWebAPI/ChatWebAPI/bin/Debug/net5.0/AutoMapper.dll
ChatWebAPI/ChatWebAPI/bin/Debug/net5.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
ChatWebAPI/ChatWebAPI/bin/Debug/net5.0/ChatWebAPI.deps.json
ChatWebAPI/ChatWebAPI/bin/Debug/net5.0/ChatWebAPI.dll
ChatWebAPI/ChatWebAPI/bin/Debug/net5.0/ChatWebAPI.pdb
ChatWebAPI/ChatWebAPI/bin/Debug/net5.0/ref/ChatWebAPI.dll
ChatWebAPI/ChatWebAPI/obj/ChatWebAPI.csproj.nuget.dgspec.json
ChatWebAPI/ChatWebAPI/obj/Debug/net5.0/ChatWebAPI.assets.cache
ChatWebAPI/ChatWebAPI/obj/Debug/net5.0/ChatWebAPI.csproj.CoreCompileInputs.cache
ChatWebAPI/ChatWebAPI/obj/Debug/net5.0/ChatWebAPI.csproj.FileListAbsolute.txt
ChatWebAPI/ChatWebAPI/obj/Debug/net5.0/ChatWebAPI.dll
ChatWebAPI/ChatWebAPI/obj/Debug/net5.0/ChatWebAPI.pdb
ChatWebAPI/ChatWebAPI/obj/Debug/net5.0/ref/ChatWebAPI.dll
ChatWebAPI/ChatWebAPI/obj/project.assets.json
ChatWebAPI/ChatWebAPI/obj/project.nuget.cache
